.navbar-inverse {
    background-color: #1c5363 !important;
}
.sidebar {
    background-color:#25687b;

}
.bg-success-700{
    background-color: #008918 !important;
}

/***********BUSQUEDA******************/
.list-group-item.active:hover{
            background-color: #aed248; !important;
            border-color: #aed248;     !important;
          }
#item_to_add:hover{
	background-color: #4B8DF8;
	color: #fff;
	cursor: pointer; cursor: hand;
}
#search_results{
    z-index: 999999;
    position:absolute;
    background-color:  #ffffff;
}

/*********************CARDS************************/
.card{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    margin: 5px 10px;
    padding: 3px 3px 3px 15px;
    cursor: pointer;

}

.card:hover{
    cursor: pointer;
    background-color: #00A3B7;
    color: #fef8f5;
}

.card h2{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;

}
.card p{
    padding-right: 5px;
    font-size: 12px;
    line-height: 1.38;
    text-align: center;
}
.card .footer{
    font-size: 14px;
    line-height: 1.73;
    text-align: left;
}
.card span{
    float:right;
    display:block;
}
.card img{
    margin: 0 auto;
    padding-top: 5px;
    height: 80px !important;
    text-align: center;

}

/*********TEXTO****************/
.text-semibold{
    text-transform: uppercase;
}
#ver:hover{
    cursor: pointer;
    background-color: #F5F5F5;

}
#ver{
    padding: 5px;
    color: #00A3B7;
    text-transform: uppercase;
    font-weight: bold;

}
/*******MODAL***************/
.modal {

    z-index: 9999;

}